---
import TableOfContents from "@/components/TableOfContents.astro";
import GitHubIcon from "@/components/icons/GitHubIcon.astro";
import BlogLayout from "@/layouts/BlogLayout.astro";
import Layout from "@/layouts/Layout.astro";
import Link from "@/components/ui/Link.astro";
import { createSlug } from "@/lib/utils";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const projectEntries = await getCollection("projects");

  return projectEntries.map((project) => ({
    params: { slug: createSlug(project.data.title) },
    props: { project },
  }));
}

const { project } = Astro.props;
const { Content, headings } = await project.render();
---

<Layout title={project.data.title}>
  <BlogLayout>
    <div slot="toc">
      <TableOfContents headings={headings} />
      <div class="mt-8 flex flex-col gap-4">
        <Link
          variant="secondary"
          href={project.data.github}
          size="sm"
          className="items-center gap-4 text-sm"
          target="_blank"
        >
          <GitHubIcon /> View on GitHub
        </Link>
        {
          project.data.website && (
            <Link
              href={project.data.website}
              size="sm"
              className="text-sm"
              target="_blank"
            >
              View Website
            </Link>
          )
        }
      </div>
    </div>
    <div slot="content">
      <h1>{project.data.title}</h1>
      <Content />
    </div>
  </BlogLayout>
</Layout>
