---
import Link from "./ui/Link.astro";

export interface Props {
  title: string;
  description: string;
  techStack?: { name: string; icon: string }[];
  link: string;
  isProject?: boolean;
}

const { description, title, techStack, link, isProject } = Astro.props;
---

<li
  class="flex flex-col rounded-lg border border-border bg-element p-4 shadow-lg
  transition-shadow duration-300 hover:shadow-xl dark:shadow-black/30"
>
  <div class="mb-3 flex items-center justify-between">
    <h3 class="title truncate text-xl font-bold">{title}</h3>
    {
      isProject && (
        <span class="rounded-full border border-primary px-3 py-1 text-xs font-semibold text-primary dark:border-primary-400 dark:text-primary-400">
          Project
        </span>
      )
    }
  </div>
  {
    techStack && (
      <ul class="mb-2 flex flex-wrap gap-2">
        {techStack.map((tech) => (
          <li title={tech.name}>
            <img src={tech.icon} alt={tech.name} width="24" height="24" />
          </li>
        ))}
      </ul>
    )
  }
  <p class="mb-4 text-sm text-muted-foreground">{description}</p>
  <div class="mt-auto flex justify-end">
    <Link href={link} class="text-primary" size="sm">Read more</Link>
  </div>
</li>
