---
import Badge from "./ui/Badge.astro";

export interface Props {
  title: string;
  description: string;
  techStack?: { name: string; icon: string }[];
  href: string;
  isProject?: boolean;
}

const { description, title, techStack, href, isProject } = Astro.props;
---

<li
  class="rounded-lg border border-border bg-element shadow-lg
  transition-shadow duration-300 hover:shadow-xl dark:shadow-black/30"
>
  <a href={href} class="flex h-full flex-col px-4 pb-6 pt-4">
    <div class="mb-3 flex items-center justify-between">
      <h3 class="title truncate text-xl font-bold">{title}</h3>
      {isProject && <Badge>Project</Badge>}
    </div>
    {
      techStack && (
        <ul class="mb-4 flex flex-wrap gap-2">
          {techStack.map((tech) => (
            <li title={tech.name}>
              <img src={tech.icon} alt={tech.name} width="24" height="24" />
            </li>
          ))}
        </ul>
      )
    }
    <p class="text-sm text-muted-foreground">{description}</p>
    <!-- <div class="mt-auto flex justify-end">
      <Link href={link} size="sm">Read more</Link>
    </div> -->
  </a>
</li>
